.container{
    width:100%;
    min-height: 120px;
    gap:20px;
    
}
.container p{
    margin-inline:10px;
}
.container p:nth-child(3){
    font-size: 1.2rem;
}
.reply {
    background-color: bisque;
}