.formContainer{
    width:400px;
    height:500px;
    gap:10px;

}
.formContainer h1{
    text-align: center;
}
.modalBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}
.inputBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.alert{
    word-break: break-all;
    color:red;
    padding-left:15px;
    padding-right:15px;
}
.inputBox input {
    height:40px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    background-color: #C2C8E5;
    opacity: 0.5;
    border-bottom: 1px thick;
}
.email input:focus { outline:none; }
.btnContainer{
    display: flex;
    justify-content: center;
    width:100%;
    gap:20px;
}
.submitBtn{
    width:80px;
    height:40px;
    border-radius: 20px;
    border:none;
    background-color: #C2C8E5;
    opacity: 0.5;
}
.modalBody button{
    width:80px;
    height:40px;
    border-radius: 20px;
    border:none;
    background-color: #C2C8E5;
    opacity: 0.5;
}